@use '../../../styles/colors.module.scss'as *;

.custom_select {
  width: 100%;
}

select.customSelect {
  padding: 10px;
  font-size: 22px;
  color: $color__gray--2;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: auto;
  transition: border-color 0.3s;
  cursor: pointer;
}

select.customSelect option {
  padding: 10px;
  font-size: 22px;
  color: $color__gray--3;
  transition: background-color 0.3s;
  cursor: pointer;
}

select.customSelect option:checked {
  color: $color__text--secondary;
}