@use '../../../styles/colors.module.scss'as *;

.container {
    text-align: center;
    display: flex;
    padding-top: 20px;
    input {
        padding: 10px 60px 10px 15px;
        border: 1px solid $color__gray--1;
        border-radius: 6px 0px 0px 6px;
        &:focus {
            outline: none;
        }
    }

    .input_group{
        display: flex;
    }
    .btn_search{
        border: 1px solid $color__gray--1;
        border-radius: 0px 6px 6px 0px;
        height: 100%;
    }
}
