@use '../styles/colors.module.scss'as *;

.background {
    font-family: "Poppins", sans-serif;
}

.container_page {
    margin: 5% 28%;
    padding: 50px;
    box-shadow: -10px 12px 10px 3px $color__gray--1;
    border-radius: 24px;
    .container {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: $color__text--primary;
            text-align: left;
            margin: auto;
            font-weight: 500;
            font-size: 3em;
        }
    }

    .container_selectors {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
            color: $color__text--primary;
            margin-bottom: 2px;
            margin-right: auto;
            font-weight: 400;
            font-size: 1.8em;
        }
    }

    .container_buttons {
        display: flex;
        padding-top: 5vh;
        align-items: center;
        justify-content: space-around;
    }

    .button_convert {
        background-color: $color__button--primary;
        color: $color__white;
        border: none;
        border-radius: 4px;
        width: 150px;
        height: 40px;
        font-size: 20px;
        font-weight: 400;
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        
    }

    .button_convert:hover {
        background-color: $color__button--secondary;
    }
    .button_convert:active {
        background-color: $color__button--active;
    }
}
    
@media screen and (max-width: 767px) and (min-width: 423px) {
    .container_page {
        margin: 5% 15%;
        padding: 44px;
    }
}

@media screen and (max-width: 422px) {
    .container_page {
        margin: 5% 5%;
        padding: 33px;
        box-shadow: none;
    }
}

