@use '../../../styles/colors.module.scss' as *;

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-display {
    text-align: center;
    padding: 3vh;
    border: 2px solid #ddd;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    h3 {
        font-weight: 500;

        span {
            color: $color__text--tertiary;
        }
    }
}

.container-display:hover {
    background-color: $color__gray--1;
}

@media screen and (min-width: 768px) {
    .container-display {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) and (min-width: 423px) {
    .container-display {
        font-size: 20px;
    }
}

@media screen and (max-width: 422px) {
    .container-display {
        font-size: 15px;
    }
}